<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CV Julian Sojo</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/aos.css?ver=1.1.0" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css?ver=1.1.0" rel="stylesheet">
    <link href="/stylesheets/main.css?ver=1.1.0" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>

  <body id="top" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top bg-primary navbar-transparent" color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip" data-original-title="" title="">Julian Sojo</a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">Acerca de</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Habilidades</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experiencia</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#education">Educacion</a></li>
                
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url(&quot;images/cc-bg-1.jpg&quot;); transform: translate3d(0px, 0px, 0px);"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href=""><img src=" NO hay nada xd" alt="Image"></a></div>
          <div class="h2 title">Julian Sojo</div>
          <p class="category text-white">Estudiante, Programador Jr. , Gamer Experimentado y Artista</p>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/profile.php?id=100006225918788" rel="tooltip" title="" data-original-title="Sigueme en Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/Julian38375914" rel="tooltip" title="" data-original-title="Sigueme en Twitter"><i class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/Jasm384" rel="tooltip" title="" data-original-title="Sigueme en Github"><i class="fa fa-github"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/julian_sojo39/" rel="tooltip" title="" data-original-title="Sigueme en Instagram"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card aos-init" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Acerca de</div>
            <p>Soy Julian Sojo, soy estudiante de la UNERG</p>
            <p>actualmente estoy cursando la carrera Ingenieria en Sistemas. Soy Bueno con la tecnologia y los videojuegos, tambien en la programacion, Me especializo en la utlizacion del Lenguaje Python, HTML5 y JavaScript y en mi tiempo libre soy artista, dibujo realismo y Paisajes, me gusta dibujar especialmete aquellos que tienen lluvia de por medio</p>
          </div>
        </div>


        <!--################################## Informacion Personal ####################################-->

        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Información Personal:</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Edad:</strong></div>
              <div class="col-sm-8">18</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Correo Electronico:</strong></div>
              <div class="col-sm-8">juliansojo39@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Telefono:</strong></div>
              <div class="col-sm-8">+58 04243547319</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Direccion:</strong></div>
              <div class="col-sm-8">Guarico, San juan de los Morros, Comunidad "Los Flores" </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Lenguaje:</strong></div>
              <div class="col-sm-8">Spanish (Nativo), English (Con Experiencia)</div>

              <!-- ################################ Fin de la Informacion Personal ####################-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">


    
    <!--#################################################### Barras con Porcentaje #############################################################################-->
    
    <div class="h4 text-center mb-4 title">Habilidades Profesionales</div>
    <div class="card aos-init" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Python</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary aos-init" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div><span class="progress-value">50%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Bootstrap</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary aos-init" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div><span class="progress-value">40%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">CSS</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary aos-init" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 35%;"></div><span class="progress-value">35%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">HTML</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary aos-init" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div><span class="progress-value">40%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">JavaScript</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary aos-init" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">60%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Dibujo</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary aos-init" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
              
                <!-- ######################################### Fin de las Barras de Porcentaje #######################################-->
              
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Experiencias de Trabajo</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary aos-init" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2020 - Presente</p>
            <div class="h5">Independiente</div>
          </div>
        </div>
        <div class="col-md-9 aos-init" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Reparacion y Mantenimiento de Dispositivos Electronicos (Computadoras, Telefonos y Tablets)</div>
            <p>He realizado reparaciones y mantenimientos a telefonos y computadoras, electrodomesticos, etc. A amigos y conocidos que me han generado diferentes sumas de dinero por mis servicios.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary aos-init" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2020 - 2021</p>
            <div class="h5">GaslicGua</div>
          </div>
        </div>
        <div class="col-md-9 aos-init" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Mantenimiento y trabajo administrativo de equipos de la empresa (Computadoras de Escritorio y Laptos).</div>
            <p>He realizado reparaciones y Mantenimiento preventivo a diversos equipos, y a la reutilizacion de equipo dañado o en des-uso.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary aos-init" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2021 - Presente</p>
            <div class="h5">GaslicGua</div>
          </div>
        </div>
        <div class="col-md-9 aos-init" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Trabajador y Caletero de los Cilindros de Gas.</div>
            <p>He realizado los labores de un trabajador, cargando los cilindros y llenando los mismo, de igual forma he hecho reparticiones de los envios de los cilindros a las diversas comunidades de San Juan de los Morros.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ############################## Educacion y Estudios #################################-->

<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Educacion:</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary aos-init" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2010- 2016</p>
            <div class="h5">Educacion Primaria</div>
          </div>
        </div>
        <div class="col-md-9 aos-init" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Unidad Educativa Monseñor Enrique Rodriguez Alvarez</div>
            <p class="category">Educación Básica</p>
            <p>Recuerdo que fui uno de los pocos niños que ya estaba alli que sabian leer y hacer operaciones aritmeticas basicas, de alli comenzó mi avance a traves de la vida del estudiante</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary aos-init" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2016 - 2021</p>
            <div class="h5">Bachillerato</div>
          </div>
        </div>
        <div class="col-md-9 aos-init" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Liceo Jose Felix Ribas</div>
            <p class="category">Educacion Media</p>
            <p>Era una niño educado, tranquilo. Me llevaba bien con todos mis compañeros y no recuerdo haber tenido peleas. Ni siquiera discusiones.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary aos-init" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2021 - actualmente</p>
            <div class="h5">Educación Universitaria</div>
          </div>
        </div>
        <div class="col-md-9 aos-init" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Universidad Experimental Romulo Gallegos (UNERG)</div>
            <p class="category">Carrera: Ingenieria en Sistemas.</p>
            <p>actualmente estoy estudiando esta Carrera (Ingenieria en Sistemas) en la UNERG.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ############################## Fin de la Educacion y Estudios ################################# -->


    <footer class="footer">
      <div class="container text-center"><a class="cc-facebook btn btn-link" href="https://www.facebook.com/profile.php?id=100006225918788"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a><a class="cc-twitter btn btn-link " href="https://twitter.com/Julian38375914"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a><a class="cc-google-plus btn btn-link" href="https://github.com/Jasm384"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a><a class="cc-instagram btn btn-link" href="https://www.instagram.com/julian_sojo39/"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a></div>
      <div class="h4 title text-center">Julian Sojo</div>
      <div class="text-center text-muted">
        <p>© Jasm384. All rights reserved.</p>
      </div>
    </footer>
    <script src="/javascripts/js/core/jquery.3.2.1.min.js?ver=1.1.0"></script>
    <script src="/javascripts/js/core/popper.min.js?ver=1.1.0"></script>
    <script src="/javascripts/js/core/bootstrap.min.js?ver=1.1.0"></script>
    <script src="/javascripts/js/now-ui-kit.js?ver=1.1.0"></script>
    <script src="/javascripts/js/aos.js?ver=1.1.0"></script>
    <script src="/javascripts/main.js?ver=1.1.0"></script>
  
</body>
</html>
